<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="3" rowHeight="1:2">
    <mat-grid-tile>
      <mat-card class="dashboard-card" style="background-color: rgb(189 189 189 / 17%);">
        <mat-card-header>
          <mat-card-title> COMEDERO </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-comedero-dash></app-comedero-dash></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card" style="background-color: rgb(189 189 189 / 17%);">
        <mat-card-header>
          <mat-card-title> BEBEDERO </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-comedero-dash></app-comedero-dash></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card" style="background-color: rgb(189 189 189 / 17%);">
        <mat-card-header>
          <mat-card-title> ARENERO </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-arenero-dash></app-arenero-dash></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
